#root {
  max-width: 1280px;
  margin: 0;
  padding: 0;
  text-align: center;
}

.menu {
  display: flex;
  justify-content: space-between;
  color: var(--white);
  padding: 1% 5%;
  align-items: center;
}

.imgPrincipal {
  width: 350px;
  border-radius: 100%;
}

.sobre {
  margin-top: 5%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.textAbout {
  width: 600px;
  padding: 10%;
  font-size: 20px;
  text-align: center;
}

.xp {
  margin-top: 10%;
  padding: 0 2%;
  border: 1px solid var(--gold);
}

.xp ul {
  list-style: none;
}

.habilidades {
  margin: 10% 0;
  display: flex;
  font-size: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.habilidades .Tilt {
  border: 2px solid var(--gold);
  padding: 0 2%;
  margin: 2% 5%;
  border-radius: 50px;
}

.buttongit {
  border: 1px solid var(--gold);
  display: flex;
  color: var(--gold);
  text-decoration: none;
  width: 40%;
  align-items: center;
  justify-content: center;
  width: 200px;
  margin: 10px 0;
}

.buttongit:hover {
  border: 1px solid var(--white);
  box-shadow: var(--white) 0px 1px 15px;
  color: var(--white);
}

.gitImg {
  width: 20px;
}

.projetos {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.unicoProjeto {
  width: 90%;
  display: flex;
  background-color: rgb(28, 29, 29);
  padding: 2%;
  border-radius: 50px;
  margin: 3% 0;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.tituloProjeto {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.imgProjeto {
  width: 300px;
}

.buttonsProjeto {
  display: flex;
  justify-content: space-evenly;
}

.contato {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 5%;
  align-items: center;
}

.elementContato {
  margin-top: 10px;
  width: 200px;
  color: var(--white);
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid transparent;
}