:root {
  --white: #fff;
  --black: #000;
  --gold: #998545;

  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  background-image: url('https://i.pinimg.com/564x/96/28/28/962828cbb2072bb099bb207e7866897c.jpg');
  color: var(--white);
}

nav {
  display: flex;
  flex-wrap: wrap;
}

nav a {
  width: 100px;
  margin: 0 20px;
  text-decoration: none;
  color: var(--white);
  border: 1px solid transparent;
  text-align: center;
  padding: 2% 0;
}

nav a:hover {
  border: 1px solid var(--white);
  border-radius: 10px;
}

h2 {
  margin: 0;
}