:root {
  --white: #fff;
  --black: #000;
  --gold: #998545;

  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}

* {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-image: url('https://i.pinimg.com/564x/96/28/28/962828cbb2072bb099bb207e7866897c.jpg');
  color: var(--white);
}

header {
  position: fixed;
  top: 0;
  width: 100%;
}

nav {
  display: flex;
  flex-wrap: wrap;
}

nav a {
  width: 100px;
  margin: 0 20px;
  text-decoration: none;
  color: var(--white);
  border: 1px solid transparent;
  text-align: center;
  padding: 2% 0;
}

nav a:hover {
  border: 1px solid var(--white);
  border-radius: 10px;
}

h2 {
  margin: 0;
}

section h1{
  color: var(--gold);
  font-size: 70px;
  font-style: italic;
  font-weight: 900;
  text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
               1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
  margin-top: 2%;
  text-align: center;
}

button {
  border: 1px solid transparent;
  cursor: pointer;
  background-color: transparent;
  color: var(--white);
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
  margin-top: 10px;
}